.chat-container {
  width: 100%;
  max-width: 60%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

@media (min-width: 768px) {
  .chat-container {
    max-width: 60%;
  }
}

.chat-messages {
  height: 300px;
  overflow-y: scroll;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  background-color: transparent;
  width: 100%;
}

.chat-message {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
}

form {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  position: fixed;
  bottom: 10px;
  width: 100%;
  max-width: 60%;
}

.chat-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: transparent;
  resize: vertical;
  width: 100%;
  min-height: 100px;
}

button[type="submit"] {
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  margin-left: 10px;
  cursor: pointer;
}
