@import './variables.module.css';

.header {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  background: #cee5f2;
}

.circularImageContainer {
  width: var(--circular-image-size);
  height: var(--circular-image-size);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--circular-image-padding);
}

.circularImage {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-size: cover;
}

.nav {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.navLink {
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
  color: #000;
}
